/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background: rgb(27,76,94);
  background: linear-gradient(90deg, rgba(27,76,94,1) 0%, rgba(23,23,23,1) 0%);

}

.inputHeader  {
  background: rgb(20,162,201);
  background: linear-gradient(90deg, rgba(20,162,201,1) 0%, rgba(50,165,218,1) 18%, rgba(12,141,163,1) 58%);

  font-family: 'Roboto', 'Courier New', monospace;
  height: 800px;
  width: auto;
  color:white;
  display: flex;
  flex-direction: column;
}
.title{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.passwordBox {
  background: rgb(27,76,94);
  background: linear-gradient(90deg, rgba(27,76,94,1) 21%, rgba(12,141,163,1) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.navColor {

height: 50px;
}

.black {
  background: rgb(27,76,94);
  background: linear-gradient(90deg, rgba(27,76,94,1) 0%, rgba(23,23,23,1) 0%);
}
.gray {
  background-color: #575e69;
  background: 575e69;
}

.statement {
  border-radius: 25px;
  border: 5px solid white;
  padding: 5px;
  margin-bottom: 5px;
}
.inputBox > .form > label {
  font-family: 'Roboto', 'Courier New', monospace;
}

.content {
  height: 300px;
  width: auto;
}

.result, .footer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}


.answerBox {

  font-family: 'Roboto', 'Courier New', monospace;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  display: none;
}
.loadActive {
  display: block;
}